.projects-container {
  margin: 4rem 0;
  color: var(--color-secondary);
}

.projects-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.7rem 0;
}

.projects-card {
  margin: 4rem 2rem;
  background-color: #404d65;
  border-radius: 1rem;
  box-shadow: 0px 0px 6px #2c3649;
}

.projects-card:hover {
  cursor: pointer;
}

.projects-border-color {
  width: 100%;
  height: 5px;
  background-color: var(--color-primary);
}

.projects-card-img {
  margin: 1.3rem 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.projects-card-title {
  font-size: 1.4rem;
}

.projects-card-description {
  color: var(--color-text-content-secondary);
}

.projects-technology {
  transition: 0.4s;
  color: var(--color-primary);
  margin-right: 0.6rem;
  font-size: 1rem;
}

.projects-technology:hover {
  transition: 0.4s;
  color: var(--color-secondary);
}
