.contact-container {
  padding: 3rem;
  color: var(--color-secondary);
}

.contact-title {
  transition: 0.4s;
  color: var(--color-secondary);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.contact-title:hover {
  transition: 0.4s;
  color: var(--color-primary);
}

.contact-container-description {
  padding: 0 3rem;
  margin: 5rem 0;
}

.contact-description {
  color: var(--color-text-content-secondary);
}

.contact-links {
  margin: 2rem 0;
  transition: 0.4s;
}

.contact-links:hover .contact-links-icons {
  transition: 0.4s;
  color: var(--color-secondary);
}

.contact-links-icons {
  transition: 0.4s;
  color: var(--color-primary);
}

.contact-links-text {
  transition: 0.4s;
  font-size: 1rem;
  color: var(--color-text-content-secondary);
}

.contact-links-text:hover {
  transition: 0.4s;
  cursor: pointer;
  color: var(--color-primary);
}

.contact-links-text-margin {
  margin: 0 1rem;
}
