.container-navbar {
  color: white;
  font-size: 1.2rem;
}

.navbar {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-info {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
