.container-navbar {
  color: white;
  font-size: 1.2rem;
  width: 100%;
}

.navbar-mobile {
  display: none;
}

.row {
  margin-right: 0;
}

.navbar-info {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  transition: 0.3s;
  text-decoration: none;
  color: rgb(184, 184, 184);
}

.nav-link:hover {
  transition: 0.3s;
  color: #FF731F;
}

#navbar-link-contact {
  transition: 0.4s;
  text-decoration: none;
  color: white;
  border: 2px solid #FF731F;
  border-radius: 1rem;
  padding: 0.7rem 1.7rem;
}

#navbar-link-contact:hover {
  transition: 0.4s;
  border: 2px solid white;
  color: #FF731F;
}

.navbar-logo {
  transition: 0.4s;
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
}

.navbar-logo:hover {
  transition: 0.4s;
  text-decoration: none;
  color: #FF731F;
}

.navbar-logo-mobile {
  transition: 0.4s;
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  margin-top: 0.3rem;
}

.navbar-logo-mobile:hover {
  transition: 0.4s;
  text-decoration: none;
  color: #FF731F;
}

.navbar-color-symbol {
  color: #FF731F;
}

.navbar-content {
  padding: 1rem 0;
}

@media screen and (max-width: 780px) {
  .navbar-destokp {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }

  .navbar-container-logo-mobile {
    padding: 0 1rem;
  }

  .navbar-container-menu-mobile {
    transition: 0.3s;
    padding: 0;
    border: 1px solid #FF731F;
    border-radius: 0.2rem;
  }

  .navbar-container-menu-mobile:hover {
    transition: 0.3s;
    border: 1px solid white;
  }

  .navbar-container-options-mobile {
    background-color: rgb(241, 239, 239);
  }

  #navbar-link-contact-mobile {
    transition: 0.4s;
    text-decoration: none;
    color: #FF731F;
    border-radius: 1rem;
    padding-left: 1rem;
  }

  #navbar-link-contact-mobile:hover {
    transition: 0.4s;
    color: black;
  }
}
