.container-navbar {
  transition: 0.2s;
  position: sticky;
  top: 0;
  z-index: 100;
  color: var(--color-secondary);
  font-size: 1.2rem;
  width: 100%;
}

.navbar-bg {
  transition: 0.2s;
  background-color: var(--color-background-navbar-sticky);
}

.navbar-mobile {
  display: none;
}

.row {
  margin-right: 0;
}

.navbar-info {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  transition: 0.2s;
  text-decoration: none;
  color: var(--color-text-content-secondary);
}

.nav-link:hover {
  transition: 0.2s;
  color: var(--color-primary);
}

#navbar-link-contact {
  transition: 0.2s;
  text-decoration: none;
  color: var(--color-secondary);
  border: 2px solid var(--color-primary);
  border-radius: 1rem;
  padding: 0.7rem 1.7rem;
}

#navbar-link-contact:hover {
  transition: 0.2s;
  border: 2px solid var(--color-secondary);
  color: var(--color-primary);
}

.navbar-logo {
  transition: 0.2s;
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
}

.navbar-logo:hover {
  transition: 0.2s;
  text-decoration: none;
  color: var(--color-primary);
}

.navbar-logo:hover .navbar-color-symbol {
  transition: 0.2s;
  color: var(--color-secondary);
}

.navbar-logo-mobile {
  transition: 0.2s;
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  margin-top: 0.3rem;
}

.navbar-logo-mobile:hover {
  transition: 0.2s;
  text-decoration: none;
  color: var(--color-primary);
}

.navbar-color-symbol {
  transition: 0.2s;
  color: var(--color-primary);
}

.navbar-content {
  padding: 1rem 0;
}

li {
  transition: 0.2s;
}

li.active {
  transition: 0.2s;
  border-bottom: 2px solid var(--color-primary);
}

@media screen and (max-width: 780px) {
  .navbar-destokp {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }

  .navbar-container-logo-mobile {
    padding: 0 1rem;
  }

  .navbar-container-menu-mobile {
    transition: 0.2s;
    padding: 0;
    border: 1px solid var(--color-primary);
    border-radius: 0.2rem;
    height: 100%;
  }

  .navbar-container-menu-mobile:hover {
    transition: 0.2s;
    border: 1px solid var(--color-secondary);
  }

  .navbar-container-menu-mobile:hover .navbar-menu-mobile-icon {
    transition: 0.2s;
    color: var(--color-primary);
  }

  .navbar-container-options-mobile {
    margin-top: 1rem;
    text-align: center;
    background-color: var(--color-background-navbar-mobile);
    padding: 1rem 0rem;
  }

  #navbar-link-contact-mobile {
    transition: 0.2s;
    text-decoration: none;
    color: var(--color-secondary);
    border-radius: 1rem;
  }

  .navbar-link-contact-mobile-container {
    padding: 0.5rem;
    background-color: var(--color-primary);
  }

  .navbar-menu-mobile-icon {
    transition: 0.2s;
    margin-top: 0.3rem;
    color: var(--color-secondary);
  }

  #navbar-link-contact-mobile:hover {
    transition: 0.2s;
    color: black;
  }
}
