.footer-container {
  background-color: var(--color-background-footer);
  width: 100%;
  padding: 1rem 2rem;
}

.footer-container-info {
  margin-top: 1rem;
  color: var(--color-text-content-secondary);
}

.footer-margin {
  margin: 0 1rem;
}

.footer-text-author {
  transition: 0.2s;
  cursor: pointer;
  color: var(--color-primary);
  margin: 0 0.4rem;
  font-size: 1.1rem;
  text-decoration: none;
}

.footer-text-author:hover {
  text-decoration: none;
  transition: 0.2s;
  color: var(--color-secondary);
}

.footer-border {
  background-color: var(--color-primary);
  width: 100%;
  height: 6px;
  margin: 0;
}
