:root {
  --color-primary: #0096c7;
  --color-secondary: rgb(249, 249, 249);
  --color-text-content-secondary: rgb(184, 184, 184);
  --color-wave: #33425B;
  --color-web-bar-slider: #0077b6;
  --color-background-primary: rgb(43, 52, 67);
  --color-background-card: #404d65;
  --color-shadow-card: #2c3649;
  --color-background-footer: rgb(36, 44, 58);
  --color-background-navbar-sticky: rgb(37, 49, 68);
  --linear-gradient-background-primary: linear-gradient(90deg, rgba(43, 52, 67, 1) 0%, rgb(38, 53, 78) 50%, rgba(43, 52, 67, 1) 100%);
  --color-background-navbar-mobile: #DEE4E7;
}

.App {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  min-height: 100vh;
  background: var(--color-background-primary) var(--linear-gradient-background-primary);
}

html::-webkit-scrollbar {
  appearance: none;
}

html::-webkit-scrollbar:vertical {
  width: 10px;
}

html::-webkit-scrollbar-button:increment,
html::-webkit-scrollbar-button {
  display: none;
}

html::-webkit-scrollbar:horizontal {
  height: 10px;
}

/*--- Change the background-color for change the color in the slider bar ---*/

html::-webkit-scrollbar-thumb {
  background-color: var(--color-web-bar-slider);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

html::-webkit-scrollbar-track {
  border-radius: 10px;
}
